.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.loginbox{
  text-align: center;
  border-style: solid;
  border-color: black;
  width: 50%;
  margin: 0 auto;
  position: relative;
  background-color: #d8f2a2;
}

body{
  background-color: #ffb67a;
}
