@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.loginform{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.tomato{
  margin-top: -10%;
  width: 70%;
  height:auto;

}
.loginbox{
  text-align: center;
  border-style: solid;
  border-color: #ed8b36;
  width: 30%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: center;
  background-color:#fcc98f;
  height: 300px;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  border-radius: 20px;
}

#usernameinput, #passwordinput{
  width:50%;
  height:8%;
  margin: 0 auto;
}
body{
  background-color: #ffb67a;
}
